@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: roboto
    }
}

@layer components{
    .nav{
        @apply relative font-medium text-[1rem] text-dark sm:mr-12 mr-4 dark:text-white tracking-wide transition-colors ease-in-out duration-300;
    }
    .active-nav{
        @apply relative font-medium text-[1rem] text-white sm:mr-12 mr-4 dark:text-dark tracking-wide transition-colors ease-in-out duration-300;
    }

    .home-bg{
      @apply flex-1 min-w-full min-h-full bg-light bg-opacity-[0.89] dark:bg-dark dark:bg-opacity-[0.91];
    }
    .other-bg{
      @apply flex-1 min-h-full bg-light bg-opacity-[0.85] dark:bg-dark dark:bg-opacity-90;
    }

    .footer-home{
      @apply bg-light text-dark dark:text-light bg-opacity-[0.89] dark:bg-dark dark:bg-opacity-[0.91] py-2 flex items-center justify-evenly sm:flex-row flex-col transition-colors ease-in-out duration-300;
    }

    .footer-other{
      @apply bg-light text-dark dark:text-light bg-opacity-[0.85] dark:bg-dark dark:bg-opacity-[0.90] py-2 flex items-center justify-evenly sm:flex-row flex-col transition-colors ease-in-out duration-300;
    }
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-track{
    background: #1A1C22;
    opacity: 0.6;
  }

  ::-webkit-scrollbar-thumb{
    background: #F5F5F5;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #F5F5F5;
  }